<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376972078685-i9vnsob1rq9nd7tvhuk56elpcem6eias.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376972078685-i9vnsob1rq9nd7tvhuk56elpcem6eias</string>
	<key>API_KEY</key>
	<string>AIzaSyARTaqVxAWJwnkwOXGPeCVW58DJd1fQXXg</string>
	<key>GCM_SENDER_ID</key>
	<string>376972078685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.NotificationTask</string>
	<key>PROJECT_ID</key>
	<string>react-native-push-notifi-c5e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-push-notifi-c5e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376972078685:ios:db3e29a5c4407932cca7b4</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-push-notifi-c5e0b.firebaseio.com</string>
</dict>
</plist>